@import url("https://fonts.googleapis.com/css2?family=Assistant&display=swap");

:root {
  font-family: "Assistant", sans-serif;
  background-color: #f2f3f4;
}

h1 {
  font-size: 4em;
  text-align: center;
}

h2 {
  font-size: 1.1em;
  color: black;
  font-weight: 100;
}

.wrapper {
  width: 70vw;
  max-width: 1500px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));
  grid-gap: 5rem;
}

.cocktailContainer {
  text-align: center;
  vertical-align: middle;
  width: 70%;
  margin: 10px auto;
  text-decoration: none;
}

.categoryContainer {
  margin: -20% 40% 0 60%;
  position: relative;
  z-index: 1;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.categoryLogo {
  position: absolute;
  width: 48px;
  right: 6px;
  bottom: 0px;
}

.cocktailImage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.cocktailPageContainer {
  width: 40vw;
  height: 80vh;
  min-width: 700px;
  margin: 10vh auto;
  text-align: center;
}
.cocktailDetails {
  text-align: left;
  width: 100%;
  display: grid;
  margin: 3vh auto 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 20px;
}

.cocktailDetails > h6 {
  grid-row-start: 3;
  text-align: center;
  margin: 0 auto;
  max-width: 200px;
}

.cocktailDetails > h5 {
  grid-row-start: 2;
  text-align: center;
  margin: 0;
}
.cocktailDetails > img {
  grid-row-start: 1;
  margin: 0 auto;
  width: 48px;
}

.ingredientsAndPrep {
  display: grid;
  grid-template-columns: 45% 55%;
  grid-template-rows: 20% 60% 20%;
  text-align: left;
  margin: 5% auto;
  width: 90%;
}

.ingredients {
  grid-column-start: 1;
  padding: 0 20px;
}

li {
  list-style: none;
  padding: 5px;
}

.prep {
  grid-column-start: 2;
  padding: 0 10px;
}

h5.prep {
  grid-row-start: 1;
}

h5.ingredients {
  grid-row-start: 1;
}

ul.ingredients {
  grid-row-start: 2;
}

p.prep .served {
  grid-row-start: 3;
}

.served {
  font-style: italic;
}

.cocktailImg {
  border-radius: 5px;
}

.searchbar:focus {
  outline: none;
}

form {
  margin: 3vh auto;
  width: 25vw;
}

input {
  font-family: "Assistant", sans-serif;
  margin: 0 auto;
  border: none;
  border-bottom: black 1px solid;
  background-color: #f2f3f4;
  font-size: 1.5rem;
  width: 100%;
}

input:focus {
  outline: none;
}
